@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    
}
body{
    background-color: #ffb703;
 }

 footer{
    margin-top: 100px;
}